@font-face{ 
	font-family: 'BlackChancery';
	src: url('./webfonts/blkchcry-webfont.eot');
	src: url('./webfonts/blkchcry-webfont.eot?#iefix') format('embedded-opentype'),
            url('./webfonts/blkchcry-webfont.woff') format('woff'),
            url('./webfonts/blkchcry-webfont.ttf') format('truetype'),
            url('./webfonts/blkchcry-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{    
    font-family: 'Dejavu-Sans-Condensed';
    src: url('./webfonts/DejaVuSansCondensed.eot');
    src: url('./webfonts/DejaVuSansCondensed.eot') format('embedded-opentype'),
            url('./webfonts/DejaVuSansCondensed.woff') format('woff'),
            url('./webfonts/DejaVuSansCondensed.ttf') format('truetype'),
            url('./webfonts/DejaVuSansCondensed.svg') format('svg');   
    font-weight: normal;
    font-style: normal;   
}
@font-face{
    font-family: 'Dejavu-Sans-ExtraLight';
    src: url('./webfonts/DejaVuSans-ExtraLight.eot');
    src: url('./webfonts/DejaVuSans-ExtraLight.eot') format('embedded-opentype'),
        url('./webfonts/DejaVuSans-ExtraLight.woff') format('woff'),
        url('./webfonts/DejaVuSans-ExtraLight.ttf') format('truetype'),
        url('./webfonts/DejaVuSans-ExtraLight.svg') format('svg'); 
    font-weight: normal;
    font-style: normal;
}

/* ---------- Estilos genericos ----------*/
body{
    background: #F2F2F2;
    margin: 0px;
    font-family: 'Dejavu-Sans-ExtraLight';
    font-size: 20px;
}
th{
    font-weight: normal;
    padding: .5em 0;
}
.main-nav{    
    background: #242124;
}
.logo{
    max-width: 5em;
    margin: .5em 3em 0em;
    cursor: pointer;
}
.main-nav__list{
    float: right;
    margin: .8em 2em 0em 0em;
}
.main-nav__item{
    display: inline-block;
}
.main-nav__link{
    margin: 0em .5em 0 1.5em;    
    text-decoration: none;
    font-family: 'BlackChancery';
    font-size: 1.3em;
    color: #fff;
}
.dropbtn {
    display: none;
    margin: 0em .5em 0 1.5em;    
    background-color: none;
    font-family: 'BlackChancery';
    font-size: 1.3em;
    background: none;
    color: #fff;
    border: none;
}
.dropbtn:hover{
    color: #b11921;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content--a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.main-nav__search-container{
    text-align: center;
    display: -webkit-inline-box;
    position: absolute;
    margin-left: 1.5em;
    margin-top: 0.5em;  
}
.main-nav__input{
    padding: 6px;
    padding-right: 6em;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    font-family: 'Dejavu-Sans-Condensed';
}
.main-nav__button{
  float: right;
  padding: 6px 13px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.main-nav__button:hover{
    background: #ccc;
}
.main-nav__link:hover{
    color: #b11921;
}
h3{
    margin: 0;  
    font-family: 'Dejavu-Sans-ExtraLight';
    font-size: 32px;
    font-weight: 100;
}
h3 span{
    font-family: 'Dejavu-Sans-Condensed';
    color: #731921;
}
.main-p{
    text-align: justify;
    text-justify: inter-word;
}
.form-texto{
    width: 78%;
    padding: 6px;
    margin: .5em 0em;
    border: none;
    font-family: 'Dejavu-Sans-ExtraLight';
    font-size: 20px;
}
.text-area{
    resize: none;
}
.border{
    padding: 12px 20px;
    margin: 1em 0;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.main-btn{
    display: inline-block;
    margin: .5em 0 1em;
    padding: 0.3em;
    border-radius: .3em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    background: #4C759E;
    color: #fff;
    font-family: 'Dejavu-Sans-Condensed';
    cursor: pointer;
}
.bloque-izquierda{
    display: inline-block;
    width: 48%;
    float: left;
    margin-left: .5em;
}
.bloque-derecha{
    display: inline-block;
    width: 48%;
    text-align: left;
}
.main-footer{
    width: 100%;
    height: 125px;
}
.footer-nav{
    display: block;
    text-align: center;
    background:#242124;
}
.footer-logo{
    display: inline-block;
    float: left;
    margin: 1em 2em;
    max-width: 20%;
}
.footer-imgs{
    display: inline-block;
    text-align: center;
    max-width: 20%;
    margin: 2em 2em;
    padding: 0;
}
.footer-li_link{
    text-decoration: none;
    margin: .5em;
}
.footer-li_img{
    max-width: 15%;
}
.footer-li_item{
    display: contents;
}
.footer-p{
    display: inline-block;
    float: right;
    margin: 1em 3em;
    font-family: 'Dejavu-Sans-ExtraLight';
    color:#fff;
    font-size: 1em;
}

/* ---------- index ---------- */
.main-background__container{
    background-image: url(../img/foodoverblack1.png);
    background-size: cover;
    max-width: 100%;
}
.main-slider{
    width:57%;
    margin: auto;
    padding: 2em;
}
.slider-background{
    border: #fff solid 10px;
    background: #fff;
    overflow: hidden;
}
.slider-ul{
    display: flex;
    margin: 0;
    padding: 0;
    width: 500%;
    animation: slide 25s infinite;
}
.slider-li{
    list-style: none;
    width: 100%;
}
.slider-img{
    width: 100%;
    height: auto;
}
@keyframes slide{
    0%{margin-left: 0%}
    16.6%{margin-left: 0%}
    
    20%{margin-left: -100%}
    36%{margin-left: -100%}
    
    40%{margin-left: -200%}
    56%{margin-left: -200%}
    
    60%{margin-left: -300%}
    76%{margin-left: -300%}

    80%{margin-left: -400%}
    100%{margin-left: -400%}
}
.mid-container{
    width: 100%;
    overflow: hidden;
}
.sub-menu{
    width: 80%;
    margin: 5.5em 3.5em 0em 4em;
    padding: 0;
    position: relative;
    float: right;
    text-align: right;
}
.sub-menu_item{
    display: inline-block;
    height: 3em;
    margin: 1%;
    width: 15%;
    background: #731921;
}
.sub-menu_item:hover{
    height: 4em;
    position: relative;
    top: -1em;
}
.sub-menu_link{
    display: block;
    margin: 1em 0;
    position: relative;
    top: -.7em;
    font-family: 'Dejavu-Sans-ExtraLight';
    font-size: 2.5vw;
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.main-recipies{
    margin: 9em 3em;
    padding: 2em;
    position: relative;
    text-align: right;
    border-style: groove;
    background: white;
}
.recipe-img{
    margin: 14% 1%;
    width: 25%;
    float: left;
}
.recipe-menu{
    display: inline-block;
    width: 60%;
    margin: 0 3em 0 0;
    columns: 3;
    padding: 0;
}
.recipe-menu_item{
    display: inline-block; 
    margin: .7em;
    width: 100%;
}
.recipe-menu_link{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.3vw;
}
.recipe-menu_img{
    width: 100%;
    margin-bottom: .5em; 
}
.recipe-menu_img:hover{
    opacity: 0.8;
    cursor: pointer;
 }
.red-block{
    position: absolute;
    z-index: -1;
    width: 140%;
    height: 33%;
    top: 33%;
    left: -10%;
    background: #731921;
}

/*------ Login -----*/
.body-Login{
    background-image: url("../img/fondoLogin.png");
    background-image: no-repeat;
}
.cuadro-registro{
    display: none;  
    width: 64%; 
    margin: 2em auto;
    text-align: center;
    background: #fff;
    border-radius: 2%;
}
.cuadro-login{
    width: 64%; 
    margin: 2em auto;
    text-align: center;
    background: #fff;
    border-radius: 2%;
}
.form-login{
    margin: 1em 3em 0;
    text-align: left;
}
.icono-login{
    display: block;
    width: 14%;
    margin: auto;
}
.form-login_imput{
    display: inline-block;
    width: 94%;
    padding: 12px 20px;
    margin: 1em 0;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.to-register{
    font-size: 17px;
    color: #4C759E;
}
.dont-account{
    display: inline-block;
    font-size: 17px;    
    color: #000;
}
.btn-login{
    position: relative;
    margin-left: 1.7em; 
    width: 16%;
    left: 30%;
}
.btn-register{
    position: relative;
    margin-left: 13em; 
    width: 16%;
    left: 30%;
}

/*------ Submit ------*/
.main-title{  
    display: block;
    max-width: 25%;
    margin: 1em auto;
}
.recipe-form{
    text-align: center;
}
.bloque-imagen{
    width: 50%;
    height: auto;
    margin: auto;
    background: #fff;
}
.imagen-vacia{
    margin: 3em 2em 0em;
}
.bloque-aniadir{
    display: inline-block;
    width: 80%;
    text-align: left;
}
.ingrediente{
    width: 100%;
}
.contenedor-generico{
    display: inline-block;
    width: 90%;
    background: #fff;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.input-base{
    display: inline-flex;
    margin: 0;
    font-family: 'Dejavu-Sans-ExtraLight';
    font-size: 20px;
    padding-left: 1em;
}
.input-name{
    width: 55.5%;
    height: 2.5em;
    float: left;
    border: none;
}
.input-quantity{
    width: 19%;
    height: 2.5em;
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-left: 5px, solid, #ccc;
}
.input-unit{
    width: 19.5%;
    height: 2.5em;
    float: right;
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-left: 5px, solid, #ccc;
}
.input-delete{
    display: inline-block;
    width: 30px;
    height: auto;
    margin-left: 1em;
}
.btn-adding{
    position: relative;
    left: 76%;
    border: none;
}
.form-steps{    
    width: 97%;
    padding: 6px;
    margin: .5em 0em;
    font-family: 'Dejavu-Sans-ExtraLight';
    font-size: 20px;
}
.btn-submit{
    position: relative;
    left: 79%;
    border: none;
}
/*-----search-----*/
.header-background{
    background-image: url("../img/foodoverblack1.png");
    background-image: no-repeat;
    height: 100%;
    background-position-x: -250px;
    background-position-y: -227px;
}
.main-nav__input-search{
    font-size: 17px;
    border: none;
    font-family: 'Dejavu-Sans-Condensed';
    background-color: white;
    padding-right: 15em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 13px;  
}
.main-nav__button-search{
    float: right;
    padding: 17px 23px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.container-search{
    text-align: center;
    display: -webkit-inline-box;
    z-index: 1;
    position: absolute;
    margin-left: -1.9em;
    margin-top: 1.5em;
}
.search-bar{
    margin-left: 3em;
    margin-top: 2em;
}
.main-text{
    display: inline-block;
    font-family: 'Dejavu-Sans-ExtraLight';
    color: #fff;
    margin-left: 7.5em;
    margin-top: 2em;
}
.sub-menu_link-search{
    display: block;
    margin: 0px 98px;
    text-decoration: none;
    font-family: 'Dejavu-Sans-ExtraLight';
    font-size: 1em;
    color: #fff;
}
.sub-menu_item-search{
    display: block;
}
.sub-menu_item-search:hover{
  text-decoration: underline;  
}
.search-menu{
    display: -webkit-inline-box;
    font-size: 27px;
    margin-left: 0;
    margin-top: 3.5em;
}
.baked{
    text-decoration: underline;
}
.search-content{
    width: auto;
    height: auto;
    margin-top: 3em;
    margin-bottom: 4em;
    margin-right: 1em;
}
.search-content_item{
    width: 22%;
    margin: 16px 17px;
    display: inline-block;
}
.search-content_link{
    text-decoration: none;
}
.search-content_img{
    width: 94%;
    margin: 16px 17px;
    display: inline-block;
}
.search-content_img:hover{
    opacity: 0.8;
    cursor: pointer;
 }
.search-description__margin{
    margin: 0em 111px;
    padding: 0em;
}
/*------------contact-----*/
.body-contact{
    background-image: url(../img/shrimp.jpg);
    background-image: no-repeat;
    background-size: cover;
    width: 100%;
}
.cuadro-contact{
    background: #F1F1F1;
    border-radius: 1em;
    width: 70%;
    height: 543px;
    margin: 4em 11em;
}
.form-contact{
    padding-top: 0em;
    margin-left: 3em;
    margin-top: 1em;
}
.p-have{
    margin: 0em;
    padding-left: 2em;
    padding-top: 2em;
    color: #400E12;
    font-size: 24px;
    display: block;
    text-align: center;
}
.p-have--span{
 font-size: 29px;
 color: #731921;
}
.comments{
    padding-bottom: 5em;
}
.send-btn{
    padding: 0.3em 1em;
    font-size: 23px;
    float: right;
    margin-right: 55px;
    margin-top: 26px;
}
/*--------profile--------*/
.header-background__profile{
    background-image: url(../img/fondoProfile.png);
    background-image: no-repeat;
    background-size: cover;
    height: 428px;
}
.profile-block{
    float: left;
    margin: 2em 3em;
    width: 21%;
    height: 281px;
}
.profile-img{
    width: 61%;
}
.p-drop{
    font-size: 18px;
    text-align: center;
}
.input-profile{
    margin-left: 3.7em;
}
.main-name{
    color: #fff;
    font-family: 'BlackChancery';
    font-size: 3em;
    margin: 0.5em;
}
.account-description{
    color:white;
}
.account-description--textarea{
    width: 34%;
    background: #fff;
    padding-bottom: 4em;
    font-family: 'Dejavu-Sans-ExtraLight';
    font-size: 19px;
}
.save-btn{
    text-decoration: none;
    font-size: 109%;
    border: #4C759E;
    display: inline-block;
    z-index: 1;
    position: absolute;
    margin: 5.5em 1em;
}
.main-h1__profile{
    font-family: 'Dejavu-Sans-Condensed';
    color: #731921;
    margin: 1.5em 0em 0em 11em;
    font-size: 51px;
    display: inline-block;
}
.img-paletas{
    width: 5%;
    display: inline-block;
}
.profile-img__names{
    margin: 0em 21px;
    position: relative;
}
.profile-item{
    display: inline-block;
    position: absolute;
    height: 301px;
    top: 0.8em;
    width: 82%;
}
.plus{
    margin: 1em 0em 1em;
    padding: 1em 0.9em;
    position: relative;
    color: #6B6661;
}
.search-content-profile{
    margin-top: -6em;
}
.search-content-favorites{
    margin-top: 0.5em;
}
.main-heart{
    color: #731921;
    margin-left: 1em;
}
.main-h2__profile{
    display: inline-block;
    margin: 0.5em;
    font-size: 1.9em;
}
.profile-content-img{
    width: 94%;
    margin: 16px 17px;
    display: inline-block;
}

.text-img__background{
    position: absolute;
    height: auto;
    width: auto;
    margin-left: 1%;
    margin-top: 1%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
}
.text-img__background:hover{
    opacity: 0.6; 
}
.inside-text{
    color: #fff;
    text-align: center;
    font-family: 'Dejavu-Sans-Condensed';
    padding: 3.5em 2.4em;
    font-size: 30px;
}
/* ---------- Recipe ------------*/
.recipe-sector{
    width: 85%;
    margin: auto;    
    text-justify: inter-word;
}
.recipe-title{
    display: block;
    font-family: 'BlackChancery';
    font-size: 72px;
    text-align: center;
    color: #731921;
}
.recipe-image--container{
    max-width: 85%;
    max-height: 24em;
    border-radius: 4px;
    background: #ccc;
    overflow: hidden;
}
.recipe-image{
    display: block;
    width: 100%;
}
.bloque-central{
    width: 100%;
}
.ingredient-table{
    width: 100%;
    border-spacing: 0;
}
.ingredient-title{
    font-family: 'Dejavu-Sans-Condensed';
    font-size: 25px;
}
.ingredient-table tr:nth-child(even) {
    background-color: #ccc;
}
.ingredient-table tr:nth-child(odd) {
   background-color: #F2F2F2;
}


@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {

}
@media (max-width: 375px) and (max-height: 667px){
    .container-search {
        margin-top: auto;
        margin-left: -1.5em !important;
    }
    .search-menu{
        margin-left: 0em !important;
        font-size: 11px !important;
    }
}
@media (max-width: 575.98px) {
    .main-footer {
        width: 100%;
        height: auto;
    }
    .footer-p{
        display: none;
    }
    .footer-imgs {
        display: inline-block;
        max-width: max-content;
        margin: 0em 0em 1em 0em;
    }
    .footer-logo {
        display: inline-block;
        float: inherit;
        margin: 0.5em 2em;
        max-width: 30%;
    }
    .footer-li_img {
        max-width: 8%;
    }
    .footer-li_link {
        text-decoration: none;
    }
    /*------search-----*/

    .header-background{
        width: fit-content;
    }
    .main-text{
        margin: 1em 4em 0em;
        font-size: inherit;
        display: block;
    }
    .search-bar{
        width: max-content;
    }
    .main-nav__input-search{
        font-size: 10px;
        padding-left: 8px;
        padding-right: 6em;
        border-radius: 0%;
    }
    .container-search{
        margin-top: auto;
        margin-left: auto;
    }
    .main-nav__button-search{
        padding: 6px 23px;
        margin: 0em;
    }
    .sub-menu_link-search{
        margin:-1px 30px 5px -13px;
    }
    .search-menu {
        display: -webkit-inline-box;
        font-size: 15px;
        margin-top: 8em;
        margin-left: 0em;
    }
    .search-content {
        width: auto;
        height: auto;
        margin: 1em 0em;
        padding: 0em;
    }
    .search-content_item {
        width: 42%;
        margin: auto;
        display: inline-block;
        margin: 1em 1em 0em 0em;
    }
    .search-content_img {
        width: 100%;
        margin: 0px 8px 0px 12px;
        display: inline-block;
    }
    .search-description__margin {
        margin: 1px 29px;
        padding: 0em;
        font-size: 72%;
    }
    /*----------profile--------------*/
    .main-nav__item{
        display: none;
    }
    .profile-block{
        margin: 0.5em 4em;
        width: 53%;
        height: 44%;
    }
    .p-drop {
        font-size: 15px;
        text-align: center;
        margin: 4px;
    }
    .input-profile {
        margin-left: -5%;
    }
    .main-name {
        font-size: 2em;
        margin: 0% 23%;
    }
    .img-paletas{
        display: none;
    }
    .form-texto {
        margin: 1em 4em 1em 4.5em;
        font-size: 18px;
    }
    .account-description--textarea {
        width: 57%;
        padding-bottom: 2em;
        font-size: 19px;
        margin: 1em 4em;
    }
    .save-btn{
        margin: 4.5em -3.8em;
        font-size: 91%;
    }
    .main-h1__profile {
        margin: 2em 1.5em 0em;
        font-size: 45px;
    }
    .inside-text{
        display: none;
    }
    .text-img__background{
        display: none;
    }
    .profile-img__names {
        position: absolute;
    }
    .profile-content-img {
        margin: 6px 15px;
        display: inline;
    }
    .profile-img__names {
        position: absolute;
        margin: 0em 1em;
        font-size: initial;
    }
    .style{
        font-size: 77px!important;
        padding: 0.5em;
    }
    .search-content_img {
        width: 100%;
        margin: 14px 0px 0px 1px;
    }
    .profile-item {
        height: 156px;
        top: 0.2em;
    }
    .main-h2__profile {
        font-size: 1.4em;
    }
    .main-heart {
        margin-top: 1em;
        margin-left: 1%;
    }
    .search-content-favorites {
        margin: 0em 0.5em 4em;
    }
}
